output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
devdata/work-items-out/
testrun/*
.~lock*
*.pkl
Пример_заполнения_Основных_котировок_Platts_Argus.xlsx
