output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
devdata/work-items-out/
testrun/*
.~lock*
*.pkl
Пример_заполнения_Основных_котировок_Platts_Argus.xlsx
quarterly_exchange_rate.xlsx
.gitignore
monthly_exchange_rate.xlsx
parse_log.log
Приложение_1.xlsx
цены_нефти.xlsx
Приложение_2.xlsx
Приложение 3.xlsx
компания 1 заказчик.xlsx
~$Приложение_1.xlsx
